@use '@wordpress/base-styles/colors' as *;
@use '@wordpress/base-styles/variables' as *;
@use '@wordpress/base-styles/mixins' as *;
@use '@wordpress/base-styles/breakpoints' as *;
@use '@wordpress/base-styles/animations' as *;
@use '@wordpress/base-styles/z-index' as *;

.edit-post-header {
	// Keep toolbar tidy on larger screens.
	@include break-small() {
		flex-wrap: nowrap;
	}
}

.edit-post-visual-editor .block-editor-block-contextual-toolbar.is-fixed {
	position: static;
	margin-left: 0;
	min-height: 49px;

	&.is-collapsed {
		margin-left: 0;
	}

	.block-editor-block-toolbar .components-toolbar-group::after,
	> .block-editor-block-toolbar__group-collapse-fixed-toolbar::after {
		height: 49px;
		margin-top: 0;
		margin-bottom: 0;
	}

	&.is-collapsed:after {
		display: none;
	}
}

.is-fixed ~ .edit-post-visual-editor__content-area {
	border-top: 1px solid var(--wp-components-color-gray-300);
}
